@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.App {
    text-align: center;
}

h1 {
    font-size: 60px;
    line-height: 0;
}

h2 {
    font-size: 20px;
    line-height: 0;
    font-weight: 300;
}

h3 {
    font-size: 15px;
    font-weight: 300;
    line-height: 0;
}

.bold {
    font-weight: 600;
}

.red {
    color:#fe2c55;
}
  
p {
    color: grey;
    font-size: 12px;
    line-height: 0;
}

hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid rgb(227,227,228);
}

.section {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.break {
    height: 10px;
}

/* Styling for Header Component*/
.header {
    height: 60px;
    width: 100%;
    border-bottom: solid 1px rgb(227,227,228);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    width: 129px;
    height: 40px;
    background-image: url('https://i.imgur.com/ZZ75Unh.png');
    background-size: 129px;
    margin: 5px;
}

/* Styling for Home Page */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col4
{
    width:33.33%;
}



/* Styling for Card Components */
.card {
    border-bottom: 1px solid rgb(227,227,228);
    width: 500px;
    height: 600px;
}